<!-- Created on 13/10/2020 -->
<!-- Copyright LoicEzt 2020 -->
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
        />
        <title>LoicEzt</title>
        <link rel="stylesheet" href="style.css" />
        <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    </head>
    <body>
        <header>
            <div class="social">
                <a href="https://www.instagram.com/loic.ezt/" target="_blank">
                    <img src="instagram.png" alt="Instagram" />
                </a>
                <a href="https://github.com/lolocomotive" target="_blank">
                    <img src="github.png" alt="GitHub" />
                </a>
                <a href="https://youtube.com/lolocomotive181hd" target="_blank">
                    <img src="youtube.png" alt="YouTube" />
                </a>
                <a href="https://discord.gg/SuA4Xqu" target="_blank">
                    <img src="discord.png" alt="Discord" />
                </a>
            </div>
            <h1>LoicEzt</h1>
        </header>
        <div class="content">
            <div id="text">
                <p>Salut, moi c'est Loïc.</p>
                <p>
                    Je passe à peu près ma vie sur mon ordinateur à tester tout
                    un tas de logiciels divers et variés, surtout dans
                    l'audiovisuel et la programmation. Je consacre un partie de
                    mon temps à programmer (cf. mon github), par exemple en ce
                    moment j'ai un projet avec Vue.js (donc le combo
                    HTML+JS+CSS), mais j'ai aussi programmé beacoup en java et
                    un peu d'autres langages (C, C#, PHP, Python, SQL). J'ai
                    donc plus d'un an d'expérience avec IntelliJ IDEA et Visual
                    studio code.
                </p>
                <p>
                    Pour ce qui est audiovisuel, ca fait plus d'un an que j'ai
                    commencé à utiliser Blender et je suis assez fier de ce que
                    j'arrive à faire. J'ai aussi fait pas mal de montage avec
                    Hitfilm Express et j'ai essayé de faire de la musique avec
                    le magic music maker.
                </p>
                <p>
                    Voici une galerie de mes différents projets réalisés avec
                    Blender.
                </p>
            </div>
            <div id="gallery">
                <div
                    @click="showImage(el)"
                    class="gallery-itm"
                    v-for="el in items"
                    :key="el.id"
                >
                    <video v-if="el.type === 'video'" :src="el.img"></video>
                    <img
                        v-else
                        :src="el.img +'?'+ Math.random()"
                        :alt="el.subtitle"
                    />
                    <div class="img-desc">
                        {{el.subtitle}} {{(el.type === 'video') ? '(vidéo)' :
                        ''}}
                    </div>
                </div>
            </div>
        </div>
        <div onclick="closeImg(event)" id="bg" class="hidden">
            <div id="big-img"></div>
        </div>
        <p>Plus de lecture - yay</p>
        <p>
            Donc voilà, ce site c'est moi qui l'ai écrit à la main avec Vue.js
            et visual studio code. Y'a plus rien d'intéressabt ici mais si tu
            veux y'a toujours mes liens sociaux en haut de la page <em>lol</em>
        </p>
        <p>
            Enfin les plus importants sont Instagram et GitHub. Ma chaine
            YouTube et mon serveur Discord sont morts donc voilà.
        </p>
        <footer>
            <div class="copyright">Copyright 2021 LoicEzt</div>
        </footer>

        <script src="main.js"></script>
    </body>
</html>
