/* 
* Created 10/13/2020
* Copyright LoicEzt 2020
*/

/* 
* Font weights
* 100,300,500,900 
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap");
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0;
}
h1 {
    font-weight: 300;
    font-size: 5em;
    text-align: center;
    margin-top: 0;
    flex-grow: 2;
    display: inline-block;
    align-items: center;
    font-weight: 100;
}
html {
    padding: 0;
}
header {
    padding-top: 3em;
    margin: 0;
    border-bottom: solid black 5pt;
    background-color: lightgrey;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.social {
    min-height: 96px;
    background-color: #bbbbbb;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 0;
    margin-bottom: 3em;
    flex-grow: 1;
    flex-wrap: wrap;
    transition: all 0.1s;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social > a {
    transition: all 0.1s;
    display: block;
}

.social > a:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #aaaaaa;
}

a > img {
    transform: scale(1.1);
    margin: 15px;
    width: 29px;
    height: auto;
}

p {
    font-size: 2em;
    margin: 2em;
    text-align: justify;
    font-weight: 300;
    transition: all 0.1s;
}
footer {
    background-color: #111;
    border-top: solid lightgray 5pt;
    color: #eee;
    padding: 3em;
    padding-bottom: 1em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery-itm {
    width: 400px;
    height: 400px;
}

.gallery-itm > img {
    width: inherit;
    height: inherit;
}
